@import "resources/reset.scss";
@import "resources/variables.scss";
@import "resources/globals.scss";
@import "resources/buttons.scss";
@import "resources/nav.scss";
@import "resources/premium.scss" ;



/****************
Interior Pages
****************/
.intro-content  {
    padding-bottom: 80px;
    margin-top: 125px;
}
.content-block {
    padding: 50px 0;

    h1 {
        color: #fff;
    }}
.style-2 {
    background-color: #494949;

    p {
        color: #fff;
    }}
.style-1 {
    background-color: #58C9EB;

    &.wave-border {
        background: #58C9EB url('../images/wave.jpg') repeat-x 0 0;
    }}

.secondary-section {
    margin-bottom: 50px;  }

.content-block .figure {
    width: 23.958333333333%; /* 230/960 */
    float: left;
    margin: 30px 3.125%; /* 30/960 */
    border: 15px solid #fff;
    overflow: hidden;
    img
    {
        float: left;
        -webkit-transition: transform $animation-time ease-in-out;
        -moz-transition: transform $animation-time ease-in-out;
        -o-transition: transform $animation-time ease-in-out;
        transition: transform $animation-time ease-in-out;
        &:hover
            {
            -webkit-transform: rotate(15deg) scale(1.25, 1.25);
            -moz-transform: rotate(15deg) scale(1.25, 1.25);
            -ms-transform: rotate(15deg) scale(1.25, 1.25);
            -o-transform: rotate(15deg) scale(1.25, 1.25);
            transform: rotate(15deg) scale(1.25, 1.25);
        }


    }
}

/****************
3 columns
****************/
.column {
    float: left;
    width: 31.25%; /* 300/960 */
    margin-left: 3.125%; /* 30/960 */
}
.column:first-child {
    margin-left: 0;
}

/****************
Start of Media Queries
****************/
@media screen and (max-width: 1023px){
    .intro-content {
        width: auto;
        float: none;
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    .go-premium {
        width: auto;
        float: none;
        margin-top: 0;
    }
    .column {
        float: none;
        width: auto;
        padding: 0 50px;
    }
    .column figure {
        margin: 0 auto;
        width: 100%;
        max-width: 250px;
    }
    .column h2 {
        text-align: center;
    }
}









