/****************
Go Premium
****************/


.intro-content {
    width: 62.5%; /* 600/960 */
    margin-right: 6.25%; /* 60/960 */
    float: left;
}
.go-premium {
    width: 31.25%; /* 300/960 */
    float: left;
    margin-top: 150px;
}
.call-to-action {
    border: 2px solid #fff;
    color: #fff;
    background-color: #0072AE;
    padding: 25px 0;
    display: block;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    -webkit-transition: all $animation-time ease-in-out;
    -moz-transition: all $animation-time ease-in-out;
    -o-transition: all $animation-time ease-in-out;
    transition: all $animation-time ease-in-out;
    background: #33d3ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #33d3ff 0%, #0071ae 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33d3ff), color-stop(99%,#0071ae)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #33d3ff 0%,#0071ae 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #33d3ff 0%,#0071ae 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #33d3ff 0%,#0071ae 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #33d3ff 0%,#0071ae 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33d3ff', endColorstr='#0071ae',GradientType=0 ); /* IE6-9 */
    :hover {
        border-color: #0072AE;
        color: #0072AE;
        background: none;
    } 
}
.reasons {
    color: #333;
    font-size: 12px;
    margin-top: 15px;
    text-align: center;
}
/*------------end premium.scss-------------------*/
 
 